/*Cores Do Site*/
:root {
    --escuro: #455F49;
    --primary-color: #4C7E4F;
    --secondy-color: #638F65;
    --tercily-color: #799F7B;
    --fourtly-color: #A6BFA7;
}

/*Página Configuração*/
*, *:before, *:after{
    font: 1em 'Inter';
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
a{ 
    text-decoration: none; 
    color: var(--primary-color);
}

/*Geral*/
.space-left20{ margin-left: 20px;}
.space-right20{ padding-right: 60px;}
.space-bottom10{  margin-bottom: 10px;}
.space-top5{ margin-top: 5px;}
.space-top10{ margin-top: 10px;}

.corS{ color: #d1d1d1;}

.text-center{ text-align: center;}

.titulo{
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}
.sub-titulo{
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}
.info{
    font-size: large;
    color: #474747;
}

/*Icon da Barra*/
.open{
    display: flex;
    gap: 5px;
}
.expansion{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.bar{
    width: 30px;
    height: 5px;
    border-radius: 5px;
    background-color: black;
    transition: .8s;
}

/*Header*/
.nav-bar{
    z-index: 3;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: larger;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 1.95px;
    gap: 25px;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: var(--tercily-color);
    border-radius: 10px;
    margin: 10px;
    width: calc(100% - 20px);
    transition: .8s all;
}
.nav-bar.compacta{
    max-width: 250px;
    transition: .8s all;
}
.title{
    font-size: 20pt;
    cursor: pointer;
}
.box{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.redirection{
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    transition: transform 0.3s, background-color 0.3s;
    color: black;
}
.redirection:hover{
    cursor: pointer;
    transform: translateY(-5px);
    background-color: rgba(255, 255, 255, 0.2);
}

/*Icons*/
.icon{ width: 50px;}

/*Button Modo Escuro*/
.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, var(--primary-color) 0, var(--secondy-color) 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}
.button-29:focus {
  box-shadow: var(--tercily-color) 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, var(--tercily-color) 0 -3px 0 inset;
}
.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, var(--primary-color) 0 -3px 0 inset;
  transform: translateY(-2px);
}
.button-29:active {
  box-shadow: var(--tercily-color) 0 3px 7px inset;
  background-color: var(--secondy-color);
  transform: scale(1.05);
  transform: translateY(2px);
}

/*Button Tranparencia*/
.button-19 {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 'auto';
}
.button-19:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
.button-19,
.button-19:focus {
  user-select: auto;
}
.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}
.button-19:disabled {
  cursor: auto;
}
.button-19:active {
  border-width: 4px 0 0;
  background: none;
}

.banner{ width: 100%;}

/*Main*/
.corpo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    text-align: justify;
}
.paises{
    display: flex;
    align-items: end;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 28px;
    list-style-type: none;
} 
.paises div{
    max-width: 42.5%;
    min-width: 10%;
}
.paises img{
    max-width: 100%;
    border: solid #2b2b2b;
}

/*Footer*/
.rodape{
    display: flex;
    align-items: center;
    padding: 10px;
    height: 70px;
    gap: 10px;
    background-color: #2b2b2b;
}

/*Card*/
#cards-animais, #cards-plantas{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.card {
    z-index: 1;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 300px; /* Largura fixa */
    height: 388px; /* Altura fixa */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transição suave para transformação e sombra */
    cursor: pointer;
}
.card:hover {
    transform: scale(1.05); /* Aumenta o tamanho do cartão ao passar o mouse */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* Aumenta a sombra ao passar o mouse */
}
.card img {
    width: 100%;
    height: auto; /* Isso manterá a proporção do aspecto da imagem */
}
.card-content {
    padding: 15px;
    height: calc(400px - 100px); /* Ajuste esse valor com base no seu conteúdo */
    overflow-y: auto; /* Permite rolagem se o conteúdo exceder a altura fixa */
}
.card-content h2 {
    margin: 0;
    font-size: 1.5em;
}
.card-content p {
    margin: 5px 0;
}
.threat-level {
    font-weight: bold;
    color: red; /* Pode ser alterado de acordo com o nível de ameaça */
}

/*Desconexo*/
.caixa-texto {
    position: absolute;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    padding: 10px;
    display: none; /* Inicialmente escondido */
    border-radius: 5px;
    max-width: 300px; /* Define um tamanho máximo */
    width: 100%; /* Permite que a caixa ocupe toda a largura disponível até o máximo */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra para destaque */
    overflow-wrap: break-word; /* Quebra palavras longas para evitar overflow */
}
.caixa-texto div{
    margin: 0; /* Remove margens para melhor controle do layout */
    line-height: 1.5; /* Melhora a legibilidade do texto */
}

@media only screen and (max-width:708px) {
    .nav-bar{
        z-index: 3;
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        font-size: larger;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 1.95px;
        gap: 25px;
        color: var(--primary-color);
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        background-color: var(--tercily-color);
        border-radius: 10px;
        margin: 10px;
        width: 45%;
        transition: .5s;
    }
    .box{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    /*Main*/
    .corpo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 50px;
        margin-right: 50px;
        text-align: justify;
    }
}